@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@700&display=swap');

.section-title {
    font-family: 'Cinzel Decorative', serif;
    color: #fcf5e8;
    font-size: 6vh;
    font-weight: 800;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
  }

  .section-sub-title {
    font-family: 'Merriweather', serif;
    color: #fcf5e8;
    font-weight: bold;
    text-align: center;
    font-size: 4.7vh;
  }

  .section-tiny-text {
    font-family: 'Merriweather', serif;
    color: #fcf5e8;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
  }

  .section-sub-text {
    font-family: 'Merriweather', serif;
    color: #fcf5e8;
    font-weight: bold;
    text-align: center;
    font-size: 2.3vh;
  }

.section-text {
  font-family: 'Merriweather', serif;
  color: #fcf5e8;
  font-weight: bold;
  text-align: center;
  font-size: 3vh;
}

.image {
  width: auto;
  height: 25vh;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px
}

.contacts-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.contacts-banner {
  width: 100%;
  height: auto;
  display: block;
}

.contact-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none;
}

.contact-icon:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.icon-svg {
  font-size: 4vw;
  max-width: 60px;
  min-width: 30px;
  width: 4vw;
  height: auto;
}

.faq-box {
  transition: transform 0.2s ease;
}

.faq-box:hover {
  transform: scale(1.05);
}

.lightning {
  width: 10vw;
  height: 50px;  
}

.tracks-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.tracks-blue-box {
  position: absolute;
  top: 81.5%;
  left: 61%;
  transform: translateX(-50%);
  width: 41%;
  height: 2%;
  background-color: rgba(32, 52, 114, 0.7);
  border-radius: 10px;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.tracks-blue-box:hover {
  opacity: 0.5;
}

.tracks-quill {
  position: absolute;
  top: 70.5%;
  left: 82%;
  transform: translate(-50%, -50%) rotate(-128deg);
  width: 35vw;
  height: auto;
  z-index: 11;
}