@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* src/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem 2rem;
    position: relative;
    z-index: 100;
}

.logo {
    height: 65x;
    width: 115px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    margin-right: 90px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fcf5e8;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li {
    margin: 0;
    padding: 10px;
}

.nav-links h1 {
    font-family: 'Merriweather', serif;
    color: #fcf5e8;
    text-decoration: none;
    font-size: 23px;
}

.nav-links h1:hover {
    color: #90a3da;
}

@media (max-width: 840px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 9999;
        top: 100%;
        right: 0;
        margin-right: 25px;
        background-color: #374986;
        padding: 10px;
        border-radius: 15px;
        border-width: 2px;
        border-style: solid;
        border-color: #90a3da;
    }

    .nav-links h1 {
        font-family: 'Merriweather', serif;
        color: #fcf5e8;
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
    }

    .nav-links h1:hover {
        color: #90a3da;
    }

    .nav-links.open {
        animation: fadeIn 0.3s forwards;
        display: flex;
        opacity: 1;
    }

}

@keyframes 
fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  }


  

  